<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>E-mail</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user=> {
                %>
                <tr>
                    <td>
                        <%= user.nom %>
                    </td>
                    <td>
                        <%= user.prenom %>
                    </td>
                    <td>
                        <%= user.email %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</body>
<script>

</script>

</html>